.form-card
{
    position: relative;
    display: inline-block;
    width: 100%;
    height: fit-content;
    min-height: 80vh;
    background-color: #651b19;

    margin-top: 1.226rem;

    color: white;
    font-weight: bold;
    font-family: 'Raleway', 'sans-serif';

    border-radius: 15px;
}
.form-card h1
{
    text-align: center;
}

.form-card form
{
    width: fit-content;

    margin-left: auto;
    margin-right: auto;

    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 1.5rem;
    
    padding: 2rem;
}

.form-card form input
{
    height: fit-content;
    
    padding: 12px;
    border-radius: 12px;
    
    font-family: 'Raleway', 'Arial Narrow Bold', sans-serif;
    font-size: 17px;
    
}
.form-card form textarea
{
    padding: 12px;
    border-radius: 12px;
    
    font-family: 'Raleway', 'Arial Narrow Bold', sans-serif;
    font-size: 17px;

    flex-grow: 2;

}

.form-card form #steps
{
    grid-column-start: 2;
    display: flex;
    flex-direction: row;
}
.form-card form #steps button
{
    background-color: var(--rouge-logo);
    padding: 0.725rem;
    border-radius: 5rem;

    text-decoration: none;
    color: var(--bg);

    font-weight: bold;
    font-family: 'Raleway', 'sans-serif';

    cursor: pointer;
}
.form-card form #addedSteps
{
    grid-column-start: 2;
    display: flex;
    flex-direction: column;
}
.form-card form #ingredients
{
    grid-column-start: 1;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}
.form-card form #ingredients button
{
    background-color: var(--rouge-logo);
    padding: 0.725rem;
    border-radius: 5rem;

    text-decoration: none;
    color: var(--bg);

    font-weight: bold;
    font-family: 'Raleway', 'sans-serif';

    cursor: pointer;
}
.form-card form #addedIngredients
{
    grid-column-start: 1;
    grid-row-start: 3;
    display: flex;
    flex-direction: column;
}

.form-card form .flex-row-center
{
    grid-column-start: span 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.form-card form .flex-row-center button
{
    background-color: var(--rouge-logo);
    padding: 0.725rem;
    border-radius: 5rem;

    text-decoration: none;
    color: var(--bg);

    font-weight: bold;
    font-family: 'Raleway', 'sans-serif';

    cursor: pointer;
}

