.recipe-body
{
    position: relative;
    display: inline-block;
    width: 100%;
    height: fit-content;
    min-height: 80vh;
    background-color: #651b19;

    margin-top: 1.226rem;

    color: white;
    font-weight: bold;
    font-family: 'Raleway', 'sans-serif';

    border-radius: 15px;
}

.recipe-header
{
    position:relative;
    height: 20vh;
    box-sizing: border-box;

    margin: 2rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    gap: 1.25rem;
}

.recipe-header div:nth-child(1)
{
    height: 100%;
    width: fit-content;

}
.recipe-header div:nth-child(2)
{
    flex-grow: 2;
    padding: 1.225rem;
}
.recipe-header div:nth-child(2) h1
{
    margin: 0;
    font-weight: bold;
    font-size: 2.335rem;
}
.recipe-header div:nth-child(2) h3
{
    font-size: 1.125rem;
}
.recipe-header div:nth-child(3)
{
    display: flex;
    min-width: fit-content;
    flex-direction: column;
    justify-content: center;
}
.recipe-header div:nth-child(3) span:last-child
{
    margin-left: auto;
    margin-right: auto;
}

.recipe-header div:nth-child(3) span:last-child b
{
    font-size: 2.775rem;
}




.recipe-main
{
    position:relative;
    height: fit-content;
    box-sizing: border-box;

    margin: 2rem;

    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 4rem;
}
.recipe-main div:nth-child(1) h4
{
    font-size: 1.95rem;
}
.recipe-main div:nth-child(1) ul
{
    list-style-type: disc;
    font-size: 0.95rem;
    font-weight: normal;
}

.recipe-main div:nth-child(2) h3
{
    font-size: 2.115rem;
}
.recipe-main div:nth-child(2) ul
{
    list-style-type: decimal;
    font-size: 1.225rem;
    font-weight: normal;

    display: flex;
    flex-direction: column;
    gap: 1.85rem;
}

.comments-body
{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: fit-content;
    min-height: 80vh;
    background-color: #651b19;
    box-sizing: border-box;
    width: 100%;

    padding: 2rem;

    margin-top: 1.226rem;

    color: white;
    font-weight: bold;
    font-family: 'Raleway', 'sans-serif';

    border-radius: 15px;
}

.comments-body h1
{
    font-size: 1.625rem;
}

.comment-item
{
    padding: 1.85rem;
    padding-left: 2.465rem;

    background-color: var(--bg);
    border-radius: 1.5rem;
}
.comment-item h3,
.add-comment h3
{
    margin: 0;
    margin-left: 0.5rem;

}

.add-comment
{
    padding: 1.25rem;
}

